.chatbox-wrapper {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 700px;
    height: 800px;
    background-color: #f5f2f2fd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
}

.message-box {
    height: calc(100% - 5rem);
    overflow-y: auto;
}

.messagebar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ffffff;
    background-color: #5dd9a786;
}

.messagebar .bar-wrapper {
    background-color: #ffffff;
    border-radius: 5px;
    width: 90%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar-wrapper input {
    width: 80%;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    background: none;
    color: #000000;
}

.bar-wrapper input::placeholder {
    color: #00000079;
}

.messagebar button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
}

.chat img{
    width: 35px;
    height: 35px;
}

.response{
    background-color: #5dd9a786;
    padding: 15px;
}
