.search-box {
    display: none;
    position: fixed;
    top: 9px;
    left: 120px;
    width: 420px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group .input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.radio-group {
    margin-top: 10px;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.radio-group label {
    margin-right: 15px;
    font-size: 14px;
}

.btn-swap {
    padding-left: 93%;
}